// Color variables (appears count calculates by raw css)
@color0: #f0f0f0; // Appears 5 times
@color1: #272727; // Appears 3 times
@color2: #ffffff; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 20; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 20; // Appears 2 times
@height4: 15; // Appears 2 times

.options__btn {
	background-color: transparent;
	border-radius: 14;
	border-width: 0;
	color: #8b8b8b;
	font-size: 9;
	height: 28;
	margin: 0 5 5 5;
	padding: 2 5 2 2;
	width: 28;
	z-index: 0;
}
.options__btn--help {
	border-color: @color0;
	border-width: 0.5;
	height: @height1;
	margin-right: 35;
	margin-top: 5;
	padding: 1;
	width: @width1;
}
.options__btn--account {
	border-color: @color0;
	border-width: 0.5;
	height: @height1;
	margin-right: 60;
	margin-top: 5;
	padding: 1;
	width: @width1;
}
.column-1 {
	background-color: @color0;
	color: @color1;
	.sidebar-title {
		font-size: 9;
		font-weight: 500;
		padding-left: 30;
		padding-top: 20;
	}
	.main-menu {
		margin-top: 50;
		.menu-item {
			font-size: 11;
			font-weight: 400;
			padding-left: 10;
			padding-top: 12;
			.sub-menu {
				.sub-menu-item {
					padding-bottom: 5;
					padding-top: 5;
					.title {
						font-weight: 300;
					}
				}
				.sub-menu-item.active {
					background-color: @color2;
					z-index: 5;
				}
			}
			.icon {
				font-size: 11;
				padding-left: 15;
				padding-top: 2;
			}
			.title {
				font-size: 11;
				padding-left: 40;
			}
			.toggle-indicator {
				font-size: 9;
				padding-top: 3;
			}
		}
	}
	.floating__button {
		background-color: #5856f8;
		border-radius: 17;
		color: @color2;
		height: 35;
		margin-bottom: 20;
		width: 35;
	}
}
.middle-column {
	border-right-color: #dfdfdf;
	border-right-style: solid;
	border-right-width: 0.1;
	margin-right: 10;
	.note-count {
		font-size: 9;
		margin-top: 20;
	}
	.space-left {
		margin-left: 18;
	}
	.space-right {
		margin-right: 18;
	}
	.selected-note {
		color: @color1;
		font-size: 18;
		font-weight: bold;
		margin-top: 34;
	}
	.note-search {
		border-color: @color0;
		border-radius: 2;
		border-style: solid;
		border-width: 0.5;
		font-size: 9;
		height: 22;
		margin-top: 45;
		padding: 5;
	}
	.text-center {
		text-align: center;
	}
	.selected-note-list {
		.topic {
			font-size: 10;
			padding-left: 18;
			padding-right: 18;
			padding-top: 10;
		}
		.topic--active {
			background-color: rgba(233, 155, 87, 0.479);
		}
		.topic__desc {
			margin-top: 2;
			padding-bottom: 10;
		}
		.topic__title {
			color: @color1;
			font-weight: bold;
		}
		.topic__subtitle {
			font-weight: 300;
			padding-left: 15px;
		}
		.topic__timestamp {
			font-weight: 300;
		}
	}
}
.last-column {
	padding-right: 10;
}
.breadcrumbs__add-tag {
	color: #bebebe;
	font-size: 9;
	height: @height4;
}
.breadcrumbs__item {
	border-color: @color0;
	border-radius: 3;
	border-style: solid;
	border-width: 0.5;
	font-size: 9;
	height: @height4;
	margin-right: 6;
	padding-left: 10;
	padding-right: 10;
}
.breadcrumbs__item__dropdown-arrow {
	font-size: 6;
}