.options {
  &__btn {
    height: 28;
    width: 28;
    padding: 2 5 2 2;
    border-width: 0;
    border-radius: 14;
    margin: 0 5 5 5;
    font-size: 9;
    background-color: transparent;
    z-index: 0;
    color: #8b8b8b;

    &--help {
      margin-right: 35;
    }
    &--account {
      margin-right: 60;
    }

    &--account,
    &--help {
      border-width: 0.5;
      border-color: #f0f0f0;
      margin-top: 5;
      padding: 1;
      height: 20;
      width: 20;
    }
  }
}
.column-1 {
  background-color: #f0f0f0;
  color: #272727;

  .sidebar-title {
    font-weight: 500;
    font-size: 9;
    padding-left: 30;
    padding-top: 20;
  }

  .main-menu {
    margin-top: 50;

    .menu-item {
      font-weight: 400;
      font-size: 11;
      padding-left: 10;
      padding-top: 12;

      .sub-menu {
        .sub-menu-item {
          padding-top: 5;
          padding-bottom: 5;

          &.active {
            background-color: #ffffff;
            z-index: 5;
          }
          .title {
            font-weight: 300;
          }
        }
      }
      .icon {
        padding-top: 2;
        font-size: 11;
        padding-left: 15;
      }
      .title {
        padding-left: 40;
        font-size: 11;
      }
      .toggle-indicator {
        padding-top: 3;
        font-size: 9;
      }
    }
  }

  .floating__button {
    width: 35;
    height: 35;
    background-color: #5856f8;
    color: #ffffff;
    border-radius: 17;
    margin-bottom: 20;
  }
}

.middle-column {
  border-right-width: 0.1;
  border-right-color: #dfdfdf;
  border-right-style: solid;
  margin-right: 10;

  .note-count {
    font-size: 9;
    margin-top: 20;
  }
  .space-left {
    margin-left: 18;
  }
  .space-right {
    margin-right: 18;
  }
  .selected-note {
    font-size: 18;
    font-weight: bold;
    color: #272727;
    margin-top: 34;
  }
  .note-search {
    margin-top: 45;
    border-radius: 2;
    border-width: 0.5;
    border-style: solid;
    border-color: #f0f0f0;
    font-size: 9;
    padding: 5;
    height: 22;
  }
  .text-center {
    text-align: center;
  }

  .selected-note-list {
    .topic {
      padding-left: 18;
      padding-right: 18;
      padding-top: 10;
      font-size: 10;

      &--active {
        background-color: rgba(233, 155, 87, 0.479);
      }
      &__desc {
        margin-top: 2;
        padding-bottom: 10;
      }
      &__title {
        font-weight: bold;
        color: #272727;
      }
      &__subtitle,
      &__timestamp {
        font-weight: 300;
      }
      &__subtitle {
        padding-left: 15px;
      }
    }
  }
}

.last-column {
  padding-right: 10;
}

.breadcrumbs {
  &__add-tag{
    font-size: 9;
    color: #bebebe;
    height: 15;
  }

  &__item {
    font-size: 9;
    border-color: #f0f0f0;
    border-width: 0.5;
    border-style: solid;
    padding-left: 10;
    padding-right: 10;
    margin-right: 6;
    height: 15;
    border-radius: 3;

    &__dropdown-arrow {
      font-size: 6;
    }
  }
}
