.editable {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  padding-top: 20px;
  font-size: 12px;
}
.medium-editor-toolbar {
  width: 100%;
  background-color: transparent;
  font-size: 12px;
}
.medium-editor-toolbar {
  visibility: visible;
}
.medium-editor-toolbar li button {
  height: 15px;
  min-width: 15px;
  font-size: 9px;
  color: #272727;
  padding:2.5px 5px;
}
.medium-editor-toolbar li .medium-editor-button-first {
    padding-left: 9px;
    border-radius: 0;
}
.medium-editor-toolbar li .medium-editor-button-last {
    padding-right: 9px;
    border-radius: 0;
}
.medium-editor-toolbar li button:hover,
.medium-editor-toolbar li .medium-editor-button-active{
    background-color: #d3d3d3;
    color: #272727;
    border-radius: 0;
}
