html, body {
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
	background: #13091B;
	height: 100%;
}
#three-container {
	position: absolute;
	left: 0;
	top: 0;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.play-btn {
	color: #13091B;
	background: #007A99;
	display: inline-block;
	padding: 16px 48px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	letter-spacing: 0.1em;
	z-index: 1;
}