<template>
    <FlexboxLayout>
        <work-spaces/>
    </FlexboxLayout>
</template>


<script lang="ts">
import WorkSpaces from '../components/Workspaces.vue'

export default {
  name: 'default',
  components: { WorkSpaces }
}
</script>

<style lang="less">
</style>