<!-- Workspace component allows panels to be added, removed, merged and divided up -->
<template>
    <FlexboxLayout class="c-workspace">
        <Label>
            {{ JSON.stringify(getWorkspace) }}
        </Label>
    </FlexboxLayout>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'

import AssetTimeline from './panels/AssetTimeline.vue'
import AudioTimeline from './panels/AudioTimeline.vue'
import AutomatedHelp from './panels/AutomatedHelp.vue'
import Connections from './panels/Connections.vue'
import Console from './panels/Console.vue'
import Director from './panels/Director.vue'
import Git from './panels/Git.vue'
import Header from './panels/Header.vue'
import IPOAnimator from './panels/IPOAnimator.vue'
import Library from './panels/Library.vue'
import Properties from './panels/Properties.vue'
import Report from './panels/Report.vue'
import ScreenRecorder from './panels/ScreenRecorder.vue'
import Sidebar from './panels/Sidebar.vue'
import Terminal from './panels/Terminal.vue'
import Tools from './panels/Tools.vue'
import VideoTimeline from './panels/VideoTimeline.vue'

export default Vue.extend({
    
    name: 'Workspace',
    
    components: {
        AssetTimeline,
        AudioTimeline,
        AutomatedHelp,
        Connections,
        Console,
        Director,
        Git,
        Header,
        IPOAnimator,
        Library,
        Properties,
        Report,
        ScreenRecorder,
        Sidebar,
        Terminal,
        Tools,
        VideoTimeline
    },

    data() {
        return {
            // Default fallback data incase of no persistent storage
            workspaces: {
                'bc-workspace-index-0': '[{}]',
                'bc-workspace-graphical-0': '[{}]',
                'bc-workspace-artflow-0': '[{}]',
                'bc-workspace-presentation-0': '[{}]',
                'bc-workspace-video-0': '[{}]',
                'bc-workspace-audio-0': '[{}]',
                'bc-workspace-code-0': '[{}]',
                'bc-workspace-director-0': '[{}]',
                'bc-workspace-spreadsheet-0': '[{}]',
                'bc-workspace-database-0': '[{}]'
            },
            threshold: 5,
        }
    },

    // created(): void {
    //     // Check default workspaces exist in local storage
    //     for (const workspace in this.workspaces)
    //     {
    //         const localWorkspace = localStorage.getItem(workspace)
    //         // If found return to saved workspaces
    //         if (localWorkspace)
    //             (this.savedWorkspaces as any)[workspace] = JSON.parse(localWorkspace)
    //         // If no workspaces found create them from the default data
    //         else
    //             localStorage.setItem(
    //                 workspace,
    //                 JSON.stringify((this.default as any)[workspace]) )
    //     }
    // },

    methods: {
        createPanel(): object {
            return {}
        },
        mergePanels(): object {
            return {}
        }
    },

    computed: {
        mode: {
            get(): string {
                return (this.$route.name as string)
            }
        },
        getWorkspace(): Array<Object> {
            // Get workspace keys in array
            return Object.keys(this.workspaces)
                // Filter to only application workspace
                .filter(workspaceName => {
                    return workspaceName.match(`bc-workspace-${this.mode}`) != null ? true : false })
                // Remap workspace object
                .map(function(this: any, workspaceName: string): object {
                    return JSON.parse(
                        this.workspaces[`bc-workspace-${workspaceName}-0`]
                    )
                }.bind(this))
        },
        listPanels(): object {
            // Filter components based on mode property
            return { default: [], database: [] }
        },
        getAllXAxis(): Array<Number> {
            return []
        },
        getAllYAxis(): Array<Number> {
            return []
        }
    }
})
</script>

<style lang="less">
.c-workspace {
    display: flex;
    width: 100vw;
    height: 100vh;
}
</style>