.l-flex {
    display: flex;
    flex-direction: row;
}
.l-flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.l-flex-column {
    display: flex;
    flex-direction: column;
}
.l-flex-column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.l-fixed-inside {
    transform: scale(0);
}