html,
body {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "opensans";
  background: #fff;
  color: @c-text-default;
  font-size: 10px;
  word-spacing: 1px;
  margin: 0;
  padding: 0;
}

* {
  font-size: 1.2rem;
}
