.u-allow-fixed {
    transform: translateX(0);
}
.u-gpu {
    transform: translate3d(0,0,0);
}
.u-max-viewport {
    width: 100vw;
    height: 100vh;
}
.u-scroll-x {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}