<template>
  <main id="app" class="l-flex-column u-max-viewport">
    <Header/>
    <nuxt class="c-main-content"/>
    <Terminal v-if="$store.state.console.displayConsole"/>
  </main>
</template>

<script>
import Header from '../components/panels/Header'
import Terminal from '../components/panels/Terminal'

// Security
window.require = false

export default {
  name: 'BlankcanvasDefault',
  components: {
    Header,
    Terminal
  },
}
</script>

<style lang="less">
.c-main-content {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}
</style>
