<template>
  <main id="app" class="l-flex-column u-max-viewport">
    <nuxt class="c-main-content"/>
  </main>
</template>

<script>
import WorkSpaces from '../components/Workspaces.vue'

// Security
window.require = false

export default {
  name: 'BlankcanvasDefault',
  components: { WorkSpaces },
}
</script>

<style lang="less">
.c-main-content {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}
</style>
