<template>
  <div class="tools" />
</template>

<script>
export default {
  name: 'Tools'
}
</script>

<style lang="less">
.tools {
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-app-region: drag;
}
</style>
