<template>
  <FlexboxLayout class="flex-col">
    <TheHeader />
  </FlexboxLayout>
</template>

<script lang="ts">
import TheHeader from './components/global/TheHeader.vue'

export default {
  name: 'App',
  components: {
    TheHeader
  },
  mounted() {
    this.$store.dispatch('feathers/connectToFeathers')
  }
}
</script>

<style lang="less">
html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: white;
}
</style>
