<style lang="less">
.c-cloud-login {
  &__panel--blue {
    @apply flex-col flex-col content-center bg-cta text-white p-6;
  }
}
</style>

<template>
  <FlexboxLayout class="c-cloud-login absolute w-96 flex-col top-20 right-6 bg-white text-center shadow-xl rounded overflow-hidden">
    
    <FlexboxLayout v-if="!client" class="c-cloud-login__panel--blue">
      <Image src="/images/logo-white.svg" class="mx-auto mb-5" width="60"/>
      <Text>{{ require ? typeof require : 'No Blankcanvas server running' }}</Text>
      <MainButton class="mt-5 shadow-lg self-center" className="white" text="Retry Connection" @click="checkServer"/>
    </FlexboxLayout>
    
    <FlexboxLayout v-else-if="client && !screen" class="c-cloud-login__panel--blue">
      <Image src="/images/logo-white.svg" class="mx-auto mb-5" width="60"/>
      <Text>Blankcanvas cloud login</Text>
      <InputStd className="white" class="my-6" placeholder="username" @inputchange="updateField('username', $event)"/>
      <InputStd className="white" placeholder="password" type="password" @inputchange="updateField('password', $event)"/>
      <MainButton className="white" class="mt-5 shadow-lg self-end" text="Login" @click="login"/>
    </FlexboxLayout>

    <FlexboxLayout v-else-if="screen === 'server'" class="flex-col">

      <FlexboxLayout v-if="showGitSetup" class="flex-col p-6">
        <Image src="/images/gitlab.svg" class="mx-auto" width="100"/>
        <Text class="px-2 text-gray-600">Easy Gitlab integration, click "Get Started" for Blankcanvas integration with Gitlab.</Text>
        <MainButton class="mt-5 shadow-lg self-center" className="orange" text="Get Started" @click="gitSetup"/>
      </FlexboxLayout>

      <FlexboxLayout class="c-cloud-login__panel--blue">
        <Image src="/images/logo-white.svg" class="mx-auto mb-5" width="40"/>
        <Text>Connections</Text>
        <Text>Configure Users</Text>
        <Text>Configure Permission Groups</Text>
      </FlexboxLayout>

    </FlexboxLayout>

    <FlexboxLayout v-else-if="screen === 'instructions'" class="flex-col p-6">
      <Image src="/images/gitlab.svg" class="mx-auto" width="100"/>
      <Text class="px-2 text-gray-600">Ok, you're device is ready next follow these instructions and you're done. First click the button to copy your public key.</Text>
      <FlexboxLayout class="mt-5">
        <Text class="py-2 px-3 mr-2 overflow-ellipsis overflow-hidden text-gray-600 bg-gray-100 whitespace-nowrap rounded-sm">{{ publicKey }}</Text>
        <MainButton class="shadow-lg self-center whitespace-nowrap" className="orange" text="Copy" @click="copyGitKey"/>
      </FlexboxLayout>
      <Text class="px-2 text-gray-600 mt-5">Signup for a free Gitlab account.</Text>
      <MainButton class="mt-5 shadow-lg self-center" className="orange" text="Gitlab Signup" @click="openGitlab"/>
      <Text class="px-2 text-gray-600 mt-5">Provide your username and email you signed up with on Gitlab.</Text>
      <FlexboxLayout class="mt-5">
        <InputStd className="gray" class="mr-2 w-1/2" placeholder="Username" @inputchange="updateField('gitUsername', $event)"/>
        <InputStd className="gray" class="w-1/2" placeholder="Email" @inputchange="updateField('gitEmail', $event)"/>
      </FlexboxLayout>
      <Text class="px-2 text-gray-600 mt-5">In Gitlab icon > settings > SSH keys and paste the SSH key you copied earlier.</Text>
      <MainButton class="mt-5 shadow-lg self-center" className="orange" text="Finish Setup" @click="finishSetup"/>
    </FlexboxLayout>

  </FlexboxLayout>
</template>

<script>
import { ref, reactive, computed } from 'vue'
import { useStore } from 'vuex'

import InputStd from '../global/InputStd.vue'

export default {
  name: 'CloudConfig',
  components: { InputStd },
  setup() {

    const checkServer = () => store.dispatch('feathers/connectToFeathers')

    const store = useStore()

    const client = computed(() => store.state.feathers.client)
    
    const fields = reactive({
      username: '',
      password: '',
      gitUsername: '',
      gitEmail: '',
    })
    const updateField = (prop, $event) => {
      fields[prop] = $event
    }
    
    const screen = ref(false)
    const gitCheck = async() => await window.client.service('git-setup').get(0)
    const showGitSetup = ref(false)
    const login = () => {
      store
      .state
      .feathers
      .authenticate({
        strategy: 'local',
        email: fields.username,
        password: fields.password
      })
      .then(function() {
        screen.value = 'server'; 
        gitCheck()
        .then(response => showGitSetup.value != response)
        .catch(e => { throw(e) })
      })
      .catch(() => alert('Sorry user not found'))
    }
    
    const publicKey = ref('')
    const gitSetup = async() => {
      publicKey.value = await window.client.service('git-setup').create({})
      screen.value = 'instructions'
    }
    
    const copyGitKey = () => {
      navigator.clipboard.writeText(publicKey)
    }

    const openGitlab = () => {
      open('https://gitlab.com/users/sign_in', '_blank')
    }

    const finishSetup = async() => {
      if (!fields.gitUsername && !fields.gitEmail) {
        alert('You must provide your Gitlab username and email.')
      }
      else {
        gitCheck()
        
        window
        .client
        .service('git-setup')
        .update(0, { username: fields.gitUsername, email: fields.gitEmail })
        .then(() => { screen.value = 'server' })
        .catch(() => alert('Sorry please check your details.'))
      }
    }

    return { checkServer, client, fields, updateField, screen, login, publicKey, gitSetup, copyGitKey, openGitlab, gitCheck, showGitSetup, finishSetup }
  },
}
</script>