<template>
    <img :src="src"/>
</template>

<script lang="ts">
export default {
    name: 'Image',
    props: {
        src: {
            type: String,
            required: true,
        },
    }
}
</script>