<template>
    <input :type="type" :placeholder="placeholder" :class="classes" @change="$emit('inputchange', $event.target.value)"/>
</template>

<script>
export default {
    name: 'InputStd',
    props: {
        type: {
            type: String,
            default: 'text'
        },
        placeholder: String,
        className: {
            type: String,
            default: ''
        },
    },
    computed: {
        classes() {
            let remapedClasses = this.className
                .split(' ')
                .map(modifier => { return modifier !== '' ? `c-input--${modifier}` : '' })
            
            remapedClasses.unshift('c-input rounded-sm py-2 px-3 flex-grow')
            
            return remapedClasses
        }
    }
}
</script>


<style lang="less">
.c-input {
  &--gray {
    @apply bg-gray-100 rounded-sm;
  }

  &--white {
    @apply bg-white text-cta shadow-lg;
  }
}
</style>