<template>
    <Button :class="classes" :text="text"></Button>
</template>

<script>
export default {
    name: 'MainButton',
    props: {
        text: String,
        className: {
            type: String,
            default: ''
        },
    },
    computed: {
        classes() {
            let remapedClasses = this.className
                .split(' ')
                .map(modifier => { return modifier !== '' ? `c-button--${modifier}` : '' })
            
            remapedClasses.unshift('c-button inline-flex py-2 px-7 cursor-pointer capitalize rounded appearance-none justify-center')
            
            return remapedClasses
        }
    }
}
</script>

<style lang="less">
.c-button {
    &--primary {
        @apply bg-cta text-white;
    }

    &--white {
        @apply bg-white text-cta;
    }
    
    &--orange {
        background: #fc6d26;
        color: white;
    }
}
</style>