<template>
  <FlexboxLayout class="c-header flex justify-center bg-gray-100 p-3">
    <SegmentedBar class="c-header__bar">
      <SegmentedBarItem
        class="c-header__tab"
        title="Doc"
        @click="changeRoute('index')"
        @tap="changeRoute('index')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Graphics Editor"
        @click="changeRoute('stencil')"
        @tap="changeRoute('stencil')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Video"
        @click="changeRoute('video')"
        @tap="changeRoute('video')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Artflow"
        @click="changeRoute('artflow')"
        @tap="changeRoute('artflow')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Audio"
        @click="changeRoute('audio')"
        @tap="changeRoute('audio')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Spreadsheet"
        @click="changeRoute('spreadsheet')"
        @tap="changeRoute('spreadsheet')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Database"
        @click="changeRoute('database')"
        @tap="changeRoute('database')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Code"
        @click="changeRoute('code')"
        @tap="changeRoute('code')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Director"
        @click="changeRoute('director')"
        @tap="changeRoute('director')"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Notes"
        @click="changeRoute('notes')"
        @tap="changeRoute('notes')"
      />
    </SegmentedBar>
    <SegmentedBar class="c-header__bar">
      <SegmentedBarItem
        class="c-header__tab"
        title="_<"
        @tap="openConsole()"
        @click="openConsole()"
      />
      <SegmentedBarItem
        class="c-header__tab"
        title="Store"
        @click="changeRoute('store')"
        @tap="changeRoute('store')"
      />
    </SegmentedBar>
    <CloudLogin/>
  </FlexboxLayout>
</template>

<script lang="ts">
import CloudLogin from '../msc/CloudLogin.vue'

export default {
  name: "Header",
  components: {
    CloudLogin
  },
  methods: {
    openConsole() {
      this.$store.dispatch("console/displayConsole", true);
    },
    changeRoute(route = "/", query = {}, params = {}) {
      this.$router.push({ name: route, query, params });
    }
  }
};
</script>

<style>
.c-header__bar {
  @apply bg-white rounded ml-3 pr-5;
}
.c-header__tab {
  @apply py-2 pl-5 text-xs uppercase;
}
</style>
