// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// Polyfills
@import "./polyfills/banned-html.less";
@import "./polyfills/nativescript-polyfill.less";
@import "./polyfills/electron-pollyfill.less";

// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {
  outline: none !important;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  position: absolute;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}